.section-inner{
  min-height: 100vh;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('./assets/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-content{
  width: 100%;
  height: 750px;
  background-color:#014E6C;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.section-content__wrapper{
  padding: 15px 20px;
}

.section-header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.section-header__logo{
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.section-header__text{
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  color: #fff;
}

.section-form{
  display: flex;
  width: 95%;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 35px;
}

.section-form__input{
  font-family: "Roboto", sans-serif;
  flex-grow: 1;
  font-size: 25px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  background-color: #F2F2F2;
  color: rgba(97, 97, 97, 0.28);
  border: 0;
  outline: none;
}

.section-form__btn {
  font-family: "Roboto", sans-serif;
  text-align: center;
  width: 100%;
  background-color: #D22C32;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  color: #FFFFFF;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: .2s;
}

.section-form__btn:hover{
  background-color: #e01a20;
}

.section-location{
  margin: 0 auto;
  height: 540px;
  overflow-y: scroll;
}

.section-location::-webkit-scrollbar {
  display: none;
}

.section-location {
-ms-overflow-style: none;  
scrollbar-width: none;
}

.section-location__list{
  font-family: 'Roboto Mono', monospace;
}

.section-location__list-item{
  display: flex;
  align-items: center;
}

.section-location__list-item + .section-location__list-item{
  margin-top: 20px;
}

.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  line-height: 20px;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  margin-right: 20px;
}

.text{
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #FFFFFF;
}

span {
  padding-left: 7px;
}

@media (max-width: 400px) {
  .section-content__wrapper{
    padding: 15px 10px;
  }

  .icon{
    display: none;
  }

  .text{
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  .section-form{
    flex-direction: column;
  }

  .section-form__input, .section-form__btn{
    height: 35px;
  }

  .section-content {
    max-width: 450px;
  }
}

@media (min-width: 576px) {
  .section-content {
    max-width: 700px;
  }

  .section-form{
    height: 44px;

  }

  .section-form__btn{
    max-width: 120px;
  }

  .section-location{
    width: 90%;
  }
}